.container {
    display: flex;
    font-size: 70px;
    font-family: Arial;
    text-align: center;
    font-size: 30px;
    color: #6E6E6E;
}

.column {
    flex: 1;
}

.column-one {
    order: 1;
}
.column-two {
    order: 2;
}
.column-three {
    order: 3;
}
.column-four {
    order: 4;
}
.column-five {
    order: 5;
}